<!-- banner starts here  -->
<div class="">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" *ngFor="let b of bannerResult;let i=index" [ngClass]="{active:i===1}">
                <img class="d-block w-100" src="https://image.tmdb.org/t/p/original/{{b.backdrop_path}}" alt="First slide">
                <div class="carousel-caption d-none d-lg-block text-light">
                    <h2>{{b.original_title}}</h2>
                    <p>{{b.overview}}</p>
                </div>

            </div>

        </div>  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next"> 
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div>
      
</div>
<!-- ends here  -->

<div class="container-fluid mt-3 p-4">

    <!-- trending movies -->
    <div class="row">
        <h5 class="text-white">Trending Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let t of trendingMovieResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" [routerLink]="['/movie',t.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>

    <!-- action movies  -->
    <div class="row mt-4">
        <h5 class="text-white">Action Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let a of actionMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" [routerLink]="['/movie',a.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>
<!-- adventure movies -->
    <div class="row mt-4">
        <h5 class="text-white">AdventureMovies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let ad of adventureMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{ad.poster_path}}" [routerLink]="['/movie',ad.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>
    <!-- animation movies  -->
    <div class="row">
        <h5 class="text-white">Animation Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let an of animationMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{an.poster_path}}" [routerLink]="['/movie',an.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>
    <!-- comedy movies -->
    <div class="row">
        <h5 class="text-white">Comedy Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let c of comedyMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{c.poster_path}}" [routerLink]="['/movie',c.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>

    <!-- Documentary movies  -->
    <div class="row">
        <h5 class="text-white">Documentary Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let d of documentaryMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{d.poster_path}}" [routerLink]="['/movie',d.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>

    <!-- scifi movies -->
    <div class="row">
        <h5 class="text-white">Sci-Fi Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let s of scifiMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{s.poster_path}}" [routerLink]="['/movie',s.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>
    <!-- thriller movies  -->
    <div class="row">
        <h5 class="text-white">Thriller Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let t of trendingMovieResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" [routerLink]="['/movie',t.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>
    <!-- romance movies  -->

    <div class="row">
        <h5 class="text-white">Romance Movies</h5>
        <div class="rowposter">
            <ng-container *ngFor="let r of romanceMoviesResult">
                <img class="rowing largeposter" src="https://image.tmdb.org/t/p/original/{{r.poster_path}}" [routerLink]="['/movie',r.id]" alt="First slide">
            </ng-container>
            
        </div>
    </div>

    
</div>